parameters:
    level: 8
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
    ignoreErrors:
            - '~Unsafe usage of new static\(\).~'

services:
    - class: App\Shared\Infrastructure\PHPStan\EnumMethodsClassReflectionExtension
      tags:
          - phpstan.broker.methodsClassReflectionExtension
