parameters:
    level: 8
    paths:
        - src

services:
    - class: App\Shared\Infrastructure\PHPStan\EnumMethodsClassReflectionExtension
      tags:
          - phpstan.broker.methodsClassReflectionExtension
